<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/all.css">
    <link rel="stylesheet" href="/src/css/componentes/footer-bar.css">
    <link href="/src/lib/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet">
</head>
<body>
    <footer width="100%">
        <div class="main-footer">
            <div class="atendimento al-footer">
                <h2>Atendimento</h2>
                <a href="">contato.savantweb.gmail.com</a>
                <a href="">Teresina-Piauí</a>
            </div>
            <div class="contato al-footer">
                <h2>Contato</h2>
                <a href="">Fale Conosco</a>
                <a href="">Vagas</a>
            </div>
            <div class="explore al-footer">
                <h2>Explore</h2>
                <a href="">Sobre Nós</a>
                <a href="">Projetos</a>
            </div>
            <div class="Nos acompanhe al-footer">
                <h2>Nos Acompanhe</h2>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            
        </div>
        <hr>
        <div class="main-footer">
            <div>
                <!--<p>Logo</p>-->
                <img src="/src/imgs/logosavantmenor.png" alt="" srcset="" class="img-logo-menor">
            </div>
            <div>
                <p>@2023 - <span style="font-weight:bold;" >SavantWeb</span> Todos os direito reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>