<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/all.css">
    <link href="/src/lib/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/src/css/main.css">-->
    <title>Api Aberta</title>
</head>

<body name="_top">

    <!--Barra Menu Superior-->
    <div class="barra-superior">
        <iframe src="./menu-s-bar.html" width="100%" height="65px" frameborder="0"></iframe>
    </div>

    <div class="container">
        <!--Barra Menu Lateral-->
        <div class="barra-lateral">
            <iframe src="./menu-l-bar.html" width="200" height="100%" frameborder="0"
                style="position: static;"></iframe>
        </div>

        <!--Corpo da página-->
        <div class="content">
            <center>
                <h1>Introdução</h1>
            </center>

            <div class="cards-intro">
                <div class="card-intro-txt">
                    <div class="texto-In">
                        <center><h2>Seja Bem Vindo a Iceberg Api</h2></center>
                        <p>A API da Iceberg te permite interagir diretamente com todas as informações que você precisa para desenvolver suas integrações como desejar.</p>
                    </div>
                    <div class="texto-In">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam distinctio quo animi?
                            Cupiditate animi placeat doloribus quis unde deserunt a, necessitatibus voluptas assumenda.
                            Perspiciatis nihil accusamus tempore excepturi repellendus aliquid?</p>
                    </div>
                    <div class="texto-In cards-intro ">
                        <div class="textarea-form cards-intro-txt">
                            <h3>Base URL:</h3>
                            <textarea id="codigo-textarea" name="story" rows="3" cols="30">
                                https://savantweb.com.br
                            </textarea>
                        </div>
                        <div class="cards-intro-txt form-span">
                            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam consequatur aspernatur neque dolor recusandae, fugit cum veritatis dolorum vitae dicta inventore ipsum sunt possimus quos unde accusamus, magni iure.</span>
                        </div>
                    </div>
                </div>

                <div class="card-intro-img">
                    <img src="/src/imgs/Server-amico.png" alt="" srcset="" class="img-server">
                </div>
            </div>
            <div class="texto-In">
                <hr>
            </div>
            
            <center><h2>Autenticação</h2></center>
            <div class="texto-In cards-intro ">
                <div class="cards-intro-txt form-span">
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam consequatur aspernatur neque dolor recusandae, fugit cum veritatis dolorum vitae dicta inventore ipsum sunt possimus quos unde accusamus, magni iure.</span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid error voluptatum earum minima fugiat deleniti ullam, quam impedit, vitae rem quidem? Aliquid voluptatum repudiandae illum corrupti fugiat voluptas ipsa ad.</span>
                </div>
                <div class="textarea-form cards-intro-txt">
                    <h3>Exemplo cURL:</h3>
                    <textarea id="codigo-textarea-2" name="story" rows="3" cols="40">https://savantweb.com.br</textarea>
                </div>
            </div>
            <div class="texto-In">
                <hr>
            </div>

            <center><h2>Explore a Api</h2></center>
            <div class="texto-In">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis sint nulla, at voluptates voluptas dolorum ipsum recusandae enim harum architecto exercitationem itaque est quaerat quae facere fuga rerum eligendi.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure eligendi perspiciatis quia asperiores repellat reprehenderit, qui saepe id! Aspernatur non ipsa animi, dicta explicabo fugit voluptate voluptatibus autem perferendis provident?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, porro doloribus ducimus possimus nam distinctio autem sunt illo tempora earum repudiandae pariatur ab nesciunt, quae ipsam aperiam, vero quis quidem!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugit facilis deleniti repellendus aspernatur ut praesentium sed perferendis maiores voluptate eligendi iusto animi doloremque, libero repudiandae officia ullam voluptates. Sint?</p>
            </div>
        </div>
    </div>

    <div class="barra-footer">
        <iframe src="./footer-bar.html" width="100%" height="195px" frameborder="0"></iframe>
    </div>

</body>

</html>