<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/all.css">
    <!--<link rel="stylesheet" href="/src/css/main.css">-->
    <title>Api Aberta</title>
</head>

<body>

    <!--Barra Menu Superior-->
    <iframe src="./componentes/menu-s-bar.html" width="100%" height="65px" frameborder="0"></iframe>

    <div class="container">
        <!--Barra Menu Lateral-->
        <div class="barra-lateral">
            <iframe src="./componentes/menu-l-bar.html" width="200" height="100%" frameborder="0"
                style="position: static;"></iframe>
        </div>

        <!--Corpo da página-->
        <div class="content">
            <center>
                <h1>Introdução</h1>
            </center>

            <div class="cards-intro">
                <div class="card-intro-txt">
                    <div class="texto-In">
                        <center><h2>Seja Bem Vindo a Iceberg Api</h2></center>
                        <p>A API da Iceberg te permite interagir diretamente com todas as informações que você precisa para desenvolver suas integrações como desejar.</p>
                    </div>
                    <div class="texto-In">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam distinctio quo animi?
                            Cupiditate animi placeat doloribus quis unde deserunt a, necessitatibus voluptas assumenda.
                            Perspiciatis nihil accusamus tempore excepturi repellendus aliquid?</p>
                    </div>
                </div>

                <div class="card-intro-img">
                    <img src="/src/imgs/Server-amico.png" alt="" srcset="" class="img-server">
                </div>
            </div>
            <div class="texto-In">
                <hr>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi cumque quasi aliquid eaque voluptate beatae ea nobis sapiente architecto ipsa dolores distinctio delectus obcaecati, perferendis sit error minus provident tempora?</p>

        </div>
    </div>
</body>

</html>