<!-- sidebar.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/componentes/menu-l-bar.css">
    <link rel="stylesheet" href="/src/css/all.css">
</head>

<body>

    <div class="sidebar">
        <!--<h2>Sidebar</h2>-->
        
        <ul class="lista-menu-l">

            <li><p>APIs</p></li>

            <li><a href="./main.html" target="_top">Introdução</a></li>
            <!--<li><a href="#">Página 2</a></li>-->
            <li><hr></li>
            <li>
                <details>
                    <summary>Produtos</summary>
                    <ul class="lista-menu-l-seletor">
                        <!--<li><a class="formlin" href="./produtos-Post.html" target="_top">Cadastrar Produtos <span class="tag-esp tag2-esp">(Post)</span></a></li>-->
                        <li><a class="formlin" href="./produtoslista-Get.html" target="_top">Listar Produtos <span class="tag-esp tag2-esp">(Get)</span></a></li>
                        <!--<li><a class="formlin" href="./produtos-Put.html" target="_top">Alterar Produto <span class="tag-esp tag2-esp">(Put)</span></a></li>-->
                        <!--<li><a class="formlin" href="./produtos-Delete.html" target="_top">Deletar Produto <span class="tag-esp tag2-esp">(Delete)</span></a></li>-->
                        <li><a class="formlin" href="./produtosbusca-Get.html" target="_top">Buscar Produtos <span class="tag-esp tag2-esp">(Get)</span></a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Carrinho</summary>
                    <ul class="lista-menu-l-seletor">
                        <li><a class="formlin" href="./carrinho-Get.html" target="_top">Adicionar ao Carrinho <span class="tag-esp tag2-esp">(Put)</span></a></li>
                        <li><a class="formlin" href="./carrinho-Delete.html" target="_top">Remover do Carrinho <span class="tag-esp tag2-esp">(Delete)</span></a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Perfil e Usuários</summary>
                    <ul class="lista-menu-l-seletor">
                        <li><a class="formlin" href="./usuario-Get.html" target="_top">Informações do Usuário <span class="tag-esp tag2-esp">(Get)</span></a></li>
                        <li><a class="formlin" href="./usuarioautenticado-Get.html" target="_top">Usuário Autenticado <span class="tag-esp tag2-esp">(Get)</span></a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Pdv</summary>
                    <ul class="">
                        <li><a href="#">Página 13</a></li>
                        <li><a href="#">Página 14</a></li>
                        <li><a href="#">Página 15</a></li>
                        <li><a href="#">Página 16</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Relatório de Perdas</summary>
                    <ul class="">
                        <li><a href="#">Página 13</a></li>
                        <li><a href="#">Página 14</a></li>
                        <li><a href="#">Página 15</a></li>
                        <li><a href="#">Página 16</a></li>
                    </ul>
                </details>
            </li>
        </ul>

    </div>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var detailsElements = document.querySelectorAll('details');
    
        detailsElements.forEach(function (details) {
          details.addEventListener('toggle', function (event) {
            if (details.open) {
              // Se o detalhe está sendo aberto, fecha todos os outros elementos <details>
              detailsElements.forEach(function (otherDetails) {
                if (otherDetails !== details) {
                  otherDetails.removeAttribute('open');
                }
              });
            } else {
              // Se o detalhe está sendo fechado, evita que o evento seja propagado
              event.preventDefault();
            }
          });
        });
      });
  </script>
</html>