<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/all.css">
    <link href="/src/lib/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/src/css/main.css">-->
    <title>Api Aberta</title>
</head>

<body name="_top">

    <!--Barra Menu Superior-->
    <div class="barra-superior">
        <iframe src="./menu-s-bar.html" width="100%" height="65px" frameborder="0"></iframe>
    </div>

    <div class="container">
        <!--Barra Menu Lateral-->
        <div class="barra-lateral">
            <iframe src="./menu-l-bar.html" width="248px" height="100%" frameborder="0"
                style="position: static;"></iframe>
        </div>

        <!--Corpo da página-->
        <div class="content">
            <!--
            <center>
                <h1>Post</h1>
            </center>
            -->
            <div class="bloco-g">
                <div class="bloco-al margin-dir al-topo">
                    <h2>Verificando Usuário Autenticado</h2>
                    <p>Consultar informações iniciais do usuário verificando se o mesmo está autenticado corretamente </p>
                    <p>Rota <span class="tag-esp">Get</span> de Perfil e Usuários:</p>
                    <div class="label-n-edit" contenteditable="false">https://api-n56x.onrender.com/v1/api/usuario</div>
                    <hr>
                </div>
                <div class="bloco-al margin-esq">
                    
                    <div class="form-requisicao">
                        <div class="titu-requisicao">
                            <div>
                                <h4 for="">Requisição</h4>
                            </div>
                            <div>
                                <h4 for="">cURL <i class="fa-solid fa-up-right-and-down-left-from-center"></i></h4>
                            </div>
                        </div>
                        <div class="al-img-txta">
                            <textarea id="cURL" name="story" rows="5" cols="47">codigo</textarea>
                            <!---->
                            <div class="img-textarea">
                                <img src="../imgs/imagem-api-9.png" alt="Miniatura">
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!--<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia porro minima ipsa nisi, neque deserunt culpa delectus a quibusdam, consectetur officiis reprehenderit ex? Nam illo eos quibusdam est assumenda repellat!</p>-->
                </div>
            </div>
            <!--
            <div class="texto-In">
                <hr>
            </div>
            -->
            <!--<center><h2>Autenticação</h2></center>-->
            <div class="bloco-g">
                <div class="bloco-al margin-dir">
                    <!--<h2>Site Post</h2>-->
                    <!--<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum inventore aliquid error cum et eligendi repellendus repudiandae dolor dolore, quas suscipit tenetur optio reiciendis. Aperiam accusamus sequi voluptatem officiis deleniti!</p>-->
                    <div class="parametros">
                        <details>
                            <summary>Parâmetros de Requisição</summary>
                            <ul>
                                <li>
                                    <span class="form-font-t1-b">Parâmetro 1</span>
                                    <br>
                                    <div class="form-font-info">
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos delectus vel inventore perferendis ullam quisquam eos suscipit, dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Parâmetro 2</span>
                                    <br>
                                    <div class="form-font-info">
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos delectus vel inventore perferendis ullam quisquam eos suscipit, dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Parâmetro 3</span>
                                    <br>
                                    <div class="form-font-info">
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos delectus vel inventore perferendis ullam quisquam eos suscipit, dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Parâmetro 4</span>
                                    <br>
                                    <div class="form-font-info">
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos delectus vel inventore perferendis ullam quisquam eos suscipit, dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Parâmetro 5</span>
                                    <br>
                                    <div class="form-font-info">
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos delectus vel inventore perferendis ullam quisquam eos suscipit, dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                    </div>
                                </li>
                            </ul>
                        </details>
                    
                        <details>
                            <summary>Parâmetros de Resposta</summary>
                            <ul>
                                <li>
                                    <span class="form-font-t1-b">Resposta 1</span>
                                    <br>
                                    <span class="">Res</span>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Resposta 2</span>
                                    <br>
                                    <span class="">Res</span>
                                </li>
                                <li>
                                    <span class="form-font-t1-b">Resposta 3</span>
                                    <br>
                                    <span class="">Res</span>
                                </li>
                            </ul>
                        </details>

                        <details>
                            <summary>Erros</summary>
                            <ul>
                                <li>
                                    <div class="parametros-2">
                                        <br>
                                        <details>
                                            <summary>Erro XXX</summary>
                                            <ul>
                                                <li>
                                                    <span class="form-font-t1-b">Lorem lorem lorem</span>
                                                    <br>
                                                    <span>Lorem ipsum, dolor sit amet consectetur dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                                </li>
                                            </ul>
                                        </details>
                                    
                                        <details>
                                            <summary>Erro XXX</summary>
                                            <ul>
                                                <li>
                                                    <span class="form-font-t1-b">Lorem lorem lorem</span>
                                                    <br>
                                                    <span>Lorem ipsum, dolor sit amet consectetur dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                                </li>
                                            </ul>
                                        </details>

                                        <details>
                                            <summary>Erro XXX</summary>
                                            <ul>
                                                <li>
                                                    <span class="form-font-t1-b">Lorem lorem lorem</span>
                                                    <br>
                                                    <span>Lorem ipsum, dolor sit amet consectetur dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                                </li>
                                            </ul>
                                        </details>

                                        <details>
                                            <summary>Erro XXX</summary>
                                            <ul>
                                                <li>
                                                    <span class="form-font-t1-b">Lorem lorem lorem</span>
                                                    <br>
                                                    <span>Lorem ipsum, dolor sit amet consectetur dolorem sint sapiente quod cumque quo at facilis error magni, velit voluptatem. Voluptas!</span>
                                                </li>
                                            </ul>
                                        </details>
                                    </div>
                                </li>
                            </ul>
                        </details>
                    </div>
                </div>
                <div class="bloco-al margin-esq">
                    
                    <div class="form-requisicao">
                        <div class="titu-requisicao">
                            <div>
                                <h4 for="">Resposta de Exemplo</h4>
                            </div>
                            <div>
                                <h4 for=""><i class="fa-solid fa-up-right-and-down-left-from-center"></i></h4>
                            </div>
                        </div>
                        <div class="al-img-txta">
                            <textarea id="cURL" name="story" rows="5" cols="47">{"email":"usuario@gmail.com","username":"usuario","id":"781ab7ad-f70a-473b-918d-69c21ab2a4be","carrinho":[{"eanproduto":"21321332131324","qnt":1,"nomeproduto":"SKOLL","valor":"2,52","image":"src/image/imagemImagem.png","nomecategoria":"Bebidas Frias"}]}</textarea>
                            <!---->
                            <div class="img-textarea">
                                <img src="../imgs/imagem-api-8.png" alt="Miniatura">
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!--<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia porro minima ipsa nisi, neque deserunt culpa delectus a quibusdam, consectetur officiis reprehenderit ex? Nam illo eos quibusdam est assumenda repellat!</p>-->
                </div>
            </div>
            <div class="texto-In">
                <hr>
            </div>

            <!--
            <center><h2>Explore a Api</h2></center>
            <div class="texto-In">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis sint nulla, at voluptates voluptas dolorum ipsum recusandae enim harum architecto exercitationem itaque est quaerat quae facere fuga rerum eligendi.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure eligendi perspiciatis quia asperiores repellat reprehenderit, qui saepe id! Aspernatur non ipsa animi, dicta explicabo fugit voluptate voluptatibus autem perferendis provident?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, porro doloribus ducimus possimus nam distinctio autem sunt illo tempora earum repudiandae pariatur ab nesciunt, quae ipsam aperiam, vero quis quidem!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugit facilis deleniti repellendus aspernatur ut praesentium sed perferendis maiores voluptate eligendi iusto animi doloremque, libero repudiandae officia ullam voluptates. Sint?</p>
            </div>
            -->
        </div>
    </div>

    <div class="barra-footer">
        <iframe src="./footer-bar.html" width="100%" height="195px" frameborder="0"></iframe>
    </div>

</body>

</html>