<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all.css">
    <title>Registro</title>
</head>
<body>
    {{>header}}
    <h1>Registro</h1>
    <form id="formulario-registro" action="/registro" method="POST" class="form-registro">
        <label for="nomeusuario">Nome: </label>
        <input type="text" placeholder="nome" id="nomeusuario" name="nomeusuario">
        <label for="emailusuario">Email: </label>
        <input type="email" placeholder="email" id="emailusuario" name="emailusuario">
        <label for="senhausuario">Senha: </label>
        <input type="password" placeholder="senha" id="senhausuario" name="senhausuario">
        <label for="senhausuario">Confirme a Senha: </label>
        <input type="password" placeholder="Cenfirme a Senha" id="senhausuarioconf" name="senhausuarioconf">

        <input type="submit" value="Registrar">
    </form>
    {{#if message}}
        <h2>{{message}}</h2>
    {{/if}}

    <script src="../js/server.js"></script>
</body>
</html>