:root {
    --cor-principal: rgb(27, 12, 135);
    --cor-secundaria: orange;
    --cor-font-1: black;
    --cor-font-2: white;
    --background-1: green;
    --teste-1: gray;
    --teste-2: yellow;
    --teste-3: red;
    --background-g: rgb(203, 199, 212);
    --background-b: white;
}