html, body {
    height: 100%;
}

body {
    /*background-color: yellow;*/
    margin: 0;
}
.sidebar {
    background-color: var(--cor-background-menu-s);
    height: 100%;
    border-radius: 15px;
    /*justify-content: center;*/
    /*align-items: center;*/
    display: flex;
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.sidebar ul{
    margin-top: 20px;
}

.lista-menu-l {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-menu-l-seletor {
    list-style: none;
}

.lista-menu-l a {
    text-decoration: none;
}

.lista-menu-l li {
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
}

summary::-webkit-details-marker {
    transition: background-color 0.2s ease; /* para navegadores WebKit, como o Chrome e o Safari */
}
  
summary {
  transition: background-color 0.2s ease; /* para navegadores não-WebKit */
}