.app-container {

}

.al-corpo-pagina {
  display: flex;
}

.conteudo {
  height: 100%;
  padding-left: 10px;
  margin-bottom: 0px;
}
.div
.menulbaral{
  padding-top: 10px;
  height: 100%;
  padding-bottom: 10px;
}
