<!--Componente Menu Superior-->
<!-- header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/componentes/menu-s-bar.css">
</head>
<body>
    <nav>
        <div>
            <h3>Logo</h3>
        </div>
        <div class="al-navbar">
            <a href="#">Introdução</a>
            <a href="#">Sobre</a>
            <a href="#">Documentações</a>
            <a href="#">Certificações</a>
            <a href="#">Contato</a>
        </div>
        <div>
            <h3>User</h3>
        </div>
    </nav>
</body>
</html>
