<div>
  <hr>
  <h1>Pipes</h1>
  <h2>{{ "Testando Piper" | uppercase }}</h2> <!--Em teoria o piper serve para deixar o código mais fácil de sofrer manutenção -->
  <h2>{{ someText | titlecase}}</h2> <!--Esse pipe deixa o texto com aparência de título com as primeiras letras das palavra maiúsculas-->
  <h2>Data: {{ today | date }}</h2> <!--Serve para formatar a data, além desses existem muitos outros-->
  <h2>Data: {{ today | date: "fullDate" }}</h2> <!--Serve para formatar a data, além desses existem muitos outros-->

</div>
