{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Index</h1>
    <img src="{% static 'images/lazy-loading-nativo-imagens-iframes_.jpg' %}"/>
    <!--Adicionando algo que foi escrito na view-->
    <h2>{{ curso }}</h2>
    <p>{{ outro }}</p>
    <!-- <span>{{ logado }}</span> -->

    <!-- Abaixo eu chamo os itens apartir da viewn-->
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button onclick="teste();">Clique-me</button>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>