nav {
    width: 100%;
    height: 65px;
    display: flex;
    /*justify-content: center;*/
    background-color: var(--cor-background-menu-s);
    /*padding: 10px;*/
    justify-content: space-around;
    border-radius: 15px;
    font-family: "Ubuntu", sans-serif;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    color: var(--cor-fonte-2);
    /*color: var(--cor-fonte-1);*/
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 15px;
}

nav a:hover {
    background-color: var(--cor-fonte-1);
    color: var(--cor-background-menu-s);
    border-radius: 15px;
}

.al-navbar{
    padding-top: 22.5px;
}

.img-savant {
    width:170px ;
    padding-top: 8px;
}

.img-iceberg {
    width:120px;
    padding-top: 8px;
}
#teste {
    padding-top: 22.5px;
}